@import "../../styles/variables";

.toggler {
  float: right;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: $transition;
  }
}
.togglerContainer {
  height: 1vh;
  padding: 2em;
  padding-right: 25vw;
  font-size: 1.5rem;
}
